[data-readmore]{
  transition:height .4s cubic-bezier(0.23, 1, 0.32, 1);
  overflow:hidden;
}
[data-readmore-rest="0"]{
  display:none !important;
}
[data-readmore-dots="0"]{
  display:none !important;
}
